@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

footer {
  background-color: #261C1C;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.container-footer {
  width: 1170px;
  height: 100%;
  margin: auto;
}

.logotipo {
  width: 100%;
}

.caixa-footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  width: 270px;
  color: #FFF;
  text-align: justify;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05rem;
  margin-top: 15px;
}

.links-footer ul {
  display: block;
  
}

.links-footer li {
  margin-top: 15px;
}

footer span {
  color: #FFF;
  text-align: justify;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-medias-footer ul {
  margin-top: 15px;
}